<!-- Contact Section Start -->
<section class="bg-blue-100 px-2 py-20" id="contact">
  <div class="container mx-auto flex flex-col md:flex-row">
    <!-- Contact Info&Heading -->
    <div
      class="md:item-start mx-auto flex flex-col items-center justify-center md:w-1/2 md:gap-20"
    >
      <!-- Contact Heading -->
      <div class="mb-4">
        <p class="text-center font-medium text-primary-2 md:text-left">
          Contact us
        </p>
        <h1
          class="mt-2 text-center text-2xl font-semibold text-primary-2 md:text-left md:text-3xl"
        >
          Chat to our friendly team
        </h1>
        <p class="mt-3 text-center text-sm text-primary-2 md:text-left">
          We’d love to hear from you. Please fill out this form or shoot us an
          email.
        </p>
      </div>
      <!-- Contact Info -->
      <div>
        <div class="flex gap-2 px-8">
          <!-- Email -->
          <div class="flex flex-col items-center justify-center md:items-start">
            <div class="inline-block rounded-full bg-primary-3 p-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>
            </div>
            <h2 class="mt-2 text-base font-medium text-primary-2">Email</h2>
            <p class="mt-2 text-center text-xs text-gray-500">
              Our friendly team is here to help.
            </p>
            <p class="mt-2 text-center text-sm text-primary-3">
              wallet@wallet.com
            </p>
          </div>
          <!-- Phone -->
          <div class="flex flex-col items-center justify-center md:items-start">
            <div
              class="mt-5 inline-block rounded-full bg-primary-3 p-3 sm:mt-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                />
              </svg>
            </div>
            <h2 class="mt-2 text-base font-medium text-primary-2">Phone</h2>
            <p class="mt-2 text-center text-xs text-gray-500">
              Mon-Fri from 8am to 5pm.
            </p>
            <p class="mt-2 text-center text-sm text-primary-3">
              +90 (555) 000-0000
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Form -->
    <div
      class="mx-auto mt-20 w-[95%] rounded-lg bg-primary-3 px-4 py-6 md:mt-0 md:w-1/2 md:p-8"
    >
      <form>
        <div class="md:flex md:items-center">
          <div class="flex-1 xs:px-2">
            <label
              for="name"
              class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
              >First Name</label
            >
            <input
              id="name"
              type="text"
              placeholder="John"
              class="mt-2 block h-10 w-full rounded-lg px-5 py-2.5 text-white placeholder-gray-700 xs:h-full"
            />
          </div>

          <div class="mt-4 flex-1 xs:px-2 md:mt-0">
            <label
              for="lastName"
              class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
              >Last Name</label
            >
            <input
              id="lastName"
              type="text"
              placeholder="Doe"
              class="mt-2 block h-10 w-full rounded-lg px-5 py-2.5 text-white placeholder-gray-700 xs:h-full"
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="email"
            class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
            >Email address</label
          >
          <input
            id="email"
            type="email"
            placeholder="johndoe@example.com"
            class="mt-2 block h-10 w-full rounded-lg px-5 py-2.5 text-white placeholder-gray-700 xs:h-full"
          />
        </div>

        <div class="mt-4 w-full">
          <label
            for="autoGrowingTextarea"
            class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
            >Message</label
          >
          <textarea
            id="autoGrowingTextarea"
            class="mt-2 min-h-[20px] w-full resize-none overflow-y-hidden rounded-lg px-5 py-2.5 text-gray-600 placeholder-gray-700"
            placeholder="Message"
            rows="3"
          ></textarea>
        </div>

        <button
          class="mt-4 w-full transform rounded-lg bg-blue-500 px-6 py-3 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
        >
          Send message
        </button>
      </form>
    </div>
  </div>
</section>
<!-- Contact Section End -->
