 <!-- FAQ Section Start -->
 <div id="faqs" class="bg-primary-3">
    <div class="container mx-auto">
      <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
        <div class="mx-auto max-w-4xl divide-y divide-primary-1/30">
          <h2
            class="text-2xl font-bold leading-10 tracking-tight text-white"
          >
            Frequently asked questions
          </h2>
          <dl class="mt-10 space-y-6 divide-y divide-primary-1/30">
            <!-- Question 1 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-0"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >What is an e-wallet?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-0">
                <p class="text-base leading-7 text-gray-300/80">
                  An e-wallet is a virtual wallet system used to store
                  money, transfer, and make purchases digitally.
                </p>
              </dd>
            </div>
            <!-- Question 2 -->
            <div class="pt-6">
              <dt>
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-1"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How can I register for an e-wallet service?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-1">
                <p class="text-base leading-7 text-gray-300/80">
                  Click on the "Sign Up" button on our website and follow
                  the simple steps to quickly sign up.
                </p>
              </dd>
            </div>
            <!-- Question 3 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-2"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How do I keep my account secure?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-2">
                <p class="text-base leading-7 text-gray-300/80">
                  Regularly update your password and never share it with
                  third parties. Enhance your account's security by
                  enabling two-factor authentication.
                </p>
              </dd>
            </div>
            <!-- Question 4 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-3"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >Do you charge a commission fee for transfers?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-3">
                <p class="text-base leading-7 text-gray-300/80">
                  The commission fees for transfers may vary depending on
                  the type of transaction. For detailed information, you
                  can check our "Fees" section.
                </p>
              </dd>
            </div>
            <!-- Question 5 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-4"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How do I transfer money from my e-wallet to my bank
                    account?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-4">
                <p class="text-base leading-7 text-gray-300/80">
                  In your profile, you can transfer money to your bank
                  account easily by entering your bank account details
                  under the "Withdraw Money" section.
                </p>
              </dd>
            </div>
            <!-- Question 6 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-5"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >Can I withdraw the money I deposited into my
                    account?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-5">
                <p class="text-base leading-7 text-gray-300/80">
                  Yes, you can transfer your e-wallet balance to your bank
                  account whenever you wish.
                </p>
              </dd>
            </div>
            <!-- Question 7 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-6"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How much balance can I hold in my e-wallet?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-6">
                <p class="text-base leading-7 text-gray-300/80">
                  The maximum balance limit may vary depending on the type
                  of user and verification status. For details, you can
                  refer to our "Limits" page.
                </p>
              </dd>
            </div>
            <!-- Question 8 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-7"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How do I contact support when I need
                    assistance?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                    Icon when question is collapsed.

                    Heroicon name: outline/minus-small

                    Item expanded: "hidden", Item collapsed: ""
                  -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                Icon when question is expanded.
            
                                                                                                                                                                                                                                                                                                                                                                                Heroicon name: outline/plus-small
            
                                                                                                                                                                                                                                                                                                                                                                                Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                              -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-7">
                <p class="text-base leading-7 text-gray-300/80">
                  For any issues or suggestions, you can reach out to us
                  through our "Contact" page or email us at
                  support@wallet.com.
                </p>
              </dd>
            </div>

            <!-- More questions... -->
          </dl>
        </div>
      </div>
    </div>
  </div>

  <script>
    let tabs = document.querySelectorAll(".tab");
    tabs.forEach((tab) => {
      tab.addEventListener("click", function () {
        let target = this.getAttribute("data-tab");

        // Hide all tab contents
        document
          .querySelectorAll(".tab-content")
          .forEach((tabContent) => {
            tabContent.classList.add("hidden");
          });

        // Show the clicked tab's content
        document
          .querySelector(`[data-content="${target}"]`)
          .classList.remove("hidden");
      });
    });
  </script>
  <h1 class="text-black text-7xl">{{name}}</h1>
</main>
<!-- FAQ Section End -->