<!-- Feature Section Start -->
<main class="bg-blue-100">
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2
          class="text-center text-base font-semibold leading-7 text-primary-3"
        >
          Faster transaction!
        </h2>
        <p
          class="mt-2 text-center text-3xl font-bold tracking-tight text-primary-3 sm:text-4xl"
        >
          Everything You Need!
        </p>
        <p class="mt-6 text-lg leading-8 text-primary-2">
          Bringing the conveniences of modern life to the palm of your hand, our
          e-wallet makes your financial transactions simpler and more secure
          than ever before.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-primary-3">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-3"
              >
                <i
                  class="fa-solid fa-money-bill-transfer text-lg text-white"
                ></i>
              </div>
              One-click Transfer
            </dt>
            <dd class="mt-2 text-base leading-7 text-primary-2">
              Complete your money transfers in seconds. Compatible with all
              banks!
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-primary-3">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-3"
              >
                <i class="fa-solid fa-bell text-lg text-white"></i>
              </div>
              Instant Notifications
            </dt>
            <dd class="mt-2 text-base leading-7 text-primary-2">
              Know all the movements in your account instantly, no surprises.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-primary-3">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-3"
              >
                <i class="fa-solid fa-file-invoice text-lg text-white"></i>
              </div>
              Detailed Transaction History
            </dt>
            <dd class="mt-2 text-base leading-7 text-primary-2">
              Keep detailed track of where your money comes from and where it
              goes.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-primary-3">
              <div
                class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-3"
              >
                <svg
                  class="h-6 w-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                  />
                </svg>
              </div>
              Secure User Login
            </dt>
            <dd class="mt-2 text-base leading-7 text-primary-2">
              You are always safe with your user registration secured by special
              encryption techniques.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <!-- Feature Section End -->

  <!-- Fees & Limits Section Start -->
  <div
    id="feesAndLimits"
    class="flex w-full items-center justify-center bg-primary-3 px-4 py-20 text-primary-2 md:px-0 md:py-40"
  >
    <div
      class="mx-auto w-full max-w-4xl rounded-lg bg-white p-2 shadow-md md:p-6"
    >
      <div class="md:mb-4">
        <div class="tabs flex space-x-2 md:space-x-4">
          <button
            class="tab w-1/2 rounded-t-md bg-primary-4 p-2 text-base text-white md:px-4 md:py-2 md:text-2xl"
            data-tab="fees"
            id="feeTab"
            onclick="feeChange()"
          >
            Fees
          </button>
          <button
            class="tab w-1/2 rounded-t-md bg-primary-3 p-2 text-base text-white md:px-4 md:py-2 md:text-2xl"
            data-tab="limits"
            id="limitTab"
            onclick="limitChange()"
          >
            Limits
          </button>
        </div>
      </div>

      <div
        class="tab-content flex flex-col space-y-2 divide-y-2 divide-primary-1/20 px-2 py-4 md:px-5 md:py-10 md:text-xl"
        data-content="fees"
      >
        <div class="flex items-center justify-between">
          <p class="w-2/3">Opening and using account</p>
          <p>FREE</p>
        </div>
        <div class="flex items-center justify-between">
          <p class="w-2/3">Money transfer to Wallet accounts</p>
          <p>FREE</p>
        </div>
        <div class="flex items-center justify-between">
          <p class="w-2/3">Money transfer to IBANs</p>
          <p>FREE</p>
        </div>
        <div class="flex items-center justify-between">
          <p class="w-2/3">Bills and other payments</p>
          <p>FREE</p>
        </div>
        <div class="items-ceter flex justify-between">
          <p class="w-2/3">Wihtdrawals via wire transfer</p>
          <p>FREE</p>
        </div>
        <div class="flex items-center justify-between">
          <p class="w-2/3">Deposit via debit/credit card</p>
          <p>3.50%</p>
        </div>
        <div class="flex items-center justify-between">
          <p class="w-2/3">Commerical use and Overage fee</p>
          <div class="flex flex-col items-end">
            <p>5.00%</p>
            <span class="text-xs">(Excluding BITT)</span>
          </div>
        </div>
      </div>

      <div
        class="tab-content hidden flex-col space-y-2 divide-y-2 divide-primary-1/20 px-2 py-4 text-sm md:px-5 md:py-10 md:text-xl"
        data-content="limits"
      >
        <div class="flex items-center justify-between">
          <p class="w-2/3">Balance Limit</p>
          <p>2000$</p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Incoming Amount</p>
          <p>2000$</p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Cash Deposit Limit</p>
          <p>2000$</p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Send Money</p>
          <p>2000$</p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Sending Money to IBAN</p>
          <p>2000$</p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">International Money Transfer Limit</p>
          <p>2000$</p>
        </div>
        <div class="flex items-center justify-between">
          <p class="w-2/3">Requesting Money Limit</p>
          <div class="flex flex-col items-end justify-center">
            <p>Daily 10</p>
            <p>Monthly 30</p>
          </div>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Payments via Bank Card</p>
          <p>1000 <span class="hidden md:inline">Transaction</span></p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Payments via Bank Card Amount Limit</p>
          <p>2000$</p>
        </div>
        <div class="flex justify-between">
          <p class="w-2/3">Recieving Payments via Debit/Credit Card</p>
          <div><span>50</span> <span>Transaction</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fees & Limits Section End -->

  <!-- FAQ Section End -->

  <!-- Contact Section Start -->
  <section class="bg-blue-100 px-2 py-20" id="contact">
    <div class="container mx-auto flex flex-col md:flex-row">
      <!-- Contact Info&Heading -->
      <div
        class="md:item-start mx-auto flex flex-col items-center justify-center md:w-1/2 md:gap-20"
      >
        <!-- Contact Heading -->
        <div class="mb-4">
          <p class="text-center font-medium text-primary-2 md:text-left">
            Contact us
          </p>
          <h1
            class="mt-2 text-center text-2xl font-semibold text-primary-2 md:text-left md:text-3xl"
          >
            Chat to our friendly team
          </h1>
          <p class="mt-3 text-center text-sm text-primary-2 md:text-left">
            We’d love to hear from you. Please fill out this form or shoot us an
            email.
          </p>
        </div>
        <!-- Contact Info -->
        <div>
          <div class="flex gap-2 px-8">
            <!-- Email -->
            <div
              class="flex flex-col items-center justify-center md:items-start"
            >
              <div class="inline-block rounded-full bg-primary-3 p-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                  />
                </svg>
              </div>
              <h2 class="mt-2 text-base font-medium text-primary-2">Email</h2>
              <p class="mt-2 text-center text-xs text-gray-500">
                Our friendly team is here to help.
              </p>
              <p class="mt-2 text-center text-sm text-primary-3">
                wallet@wallet.com
              </p>
            </div>
            <!-- Phone -->
            <div
              class="flex flex-col items-center justify-center md:items-start"
            >
              <div
                class="mt-5 inline-block rounded-full bg-primary-3 p-3 sm:mt-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                  />
                </svg>
              </div>
              <h2 class="mt-2 text-base font-medium text-primary-2">Phone</h2>
              <p class="mt-2 text-center text-xs text-gray-500">
                Mon-Fri from 8am to 5pm.
              </p>
              <p class="mt-2 text-center text-sm text-primary-3">
                +90 (555) 000-0000
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact Form -->
      <div
        class="mx-auto mt-20 w-[95%] rounded-lg bg-primary-3 px-4 py-6 md:mt-0 md:w-1/2 md:p-8"
      >
        <form>
          <div class="md:flex md:items-center">
            <div class="flex-1 xs:px-2">
              <label
                for="name"
                class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
                >First Name</label
              >
              <input
                id="name"
                type="text"
                placeholder="John "
                class="mt-2 block h-10 w-full rounded-lg px-5 py-2.5 text-white placeholder-gray-700 xs:h-full"
              />
            </div>

            <div class="mt-4 flex-1 xs:px-2 md:mt-0">
              <label
                for="lastName"
                class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
                >Last Name</label
              >
              <input
                id="lastName"
                type="text"
                placeholder="Doe"
                class="mt-2 block h-10 w-full rounded-lg px-5 py-2.5 text-white placeholder-gray-700 xs:h-full"
              />
            </div>
          </div>

          <div class="mt-4">
            <label
              for="email"
              class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
              >Email address</label
            >
            <input
              id="email"
              type="email"
              placeholder="johndoe@example.com"
              class="mt-2 block h-10 w-full rounded-lg px-5 py-2.5 text-white placeholder-gray-700 xs:h-full"
            />
          </div>

          <div class="mt-4 w-full">
            <label
              for="autoGrowingTextarea"
              class="mb-2 block text-sm text-gray-600 dark:text-gray-200"
              >Message</label
            >
            <textarea
              id="autoGrowingTextarea"
              class="mt-2 min-h-[20px] w-full resize-none overflow-y-hidden rounded-lg px-5 py-2.5 text-gray-600 placeholder-gray-700"
              placeholder="Message"
              rows="3"
            ></textarea>
          </div>

          <button
            class="mt-4 w-full transform rounded-lg bg-blue-500 px-6 py-3 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50"
          >
            Send message
          </button>
        </form>
      </div>
    </div>
  </section>
  <!-- Contact Section End -->

  <!-- FAQ Section Start -->
  <div id="faqs" class="bg-primary-3">
    <div class="container mx-auto">
      <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
        <div class="mx-auto max-w-4xl divide-y divide-primary-1/30">
          <h2 class="text-2xl font-bold leading-10 tracking-tight text-white">
            Frequently asked questions
          </h2>
          <dl class="mt-10 space-y-6 divide-y divide-primary-1/30">
            <!-- Question 1 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-0"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >What is an e-wallet?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-0">
                <p class="text-base leading-7 text-gray-300/80">
                  An e-wallet is a virtual wallet system used to store money,
                  transfer, and make purchases digitally.
                </p>
              </dd>
            </div>
            <!-- Question 2 -->
            <div class="pt-6">
              <dt>
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-1"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How can I register for an e-wallet service?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-1">
                <p class="text-base leading-7 text-gray-300/80">
                  Click on the "Sign Up" button on our website and follow the
                  simple steps to quickly sign up.
                </p>
              </dd>
            </div>
            <!-- Question 3 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-2"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How do I keep my account secure?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-2">
                <p class="text-base leading-7 text-gray-300/80">
                  Regularly update your password and never share it with third
                  parties. Enhance your account's security by enabling
                  two-factor authentication.
                </p>
              </dd>
            </div>
            <!-- Question 4 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-3"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >Do you charge a commission fee for transfers?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-3">
                <p class="text-base leading-7 text-gray-300/80">
                  The commission fees for transfers may vary depending on the
                  type of transaction. For detailed information, you can check
                  our "Fees" section.
                </p>
              </dd>
            </div>
            <!-- Question 5 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-4"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How do I transfer money from my e-wallet to my bank
                    account?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-4">
                <p class="text-base leading-7 text-gray-300/80">
                  In your profile, you can transfer money to your bank account
                  easily by entering your bank account details under the
                  "Withdraw Money" section.
                </p>
              </dd>
            </div>
            <!-- Question 6 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-5"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >Can I withdraw the money I deposited into my account?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-5">
                <p class="text-base leading-7 text-gray-300/80">
                  Yes, you can transfer your e-wallet balance to your bank
                  account whenever you wish.
                </p>
              </dd>
            </div>
            <!-- Question 7 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-6"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How much balance can I hold in my e-wallet?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-6">
                <p class="text-base leading-7 text-gray-300/80">
                  The maximum balance limit may vary depending on the type of
                  user and verification status. For details, you can refer to
                  our "Limits" page.
                </p>
              </dd>
            </div>
            <!-- Question 8 -->
            <div class="pt-6">
              <dt>
                <!-- Expand/collapse question button -->
                <button
                  type="button"
                  class="flex w-full items-start justify-between text-left text-white"
                  aria-controls="faq-7"
                  aria-expanded="false"
                >
                  <span class="text-base font-semibold leading-7"
                    >How do I contact support when I need assistance?</span
                  >
                  <span class="ml-6 flex h-7 items-center">
                    <!--
                      Icon when question is collapsed.

                      Heroicon name: outline/minus-small

                      Item expanded: "hidden", Item collapsed: ""
                    -->
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M18 12H6"
                      />
                    </svg>
                    <!--
                                                                                                                                                                                                                                                                                                                                                                                  Icon when question is expanded.
              
                                                                                                                                                                                                                                                                                                                                                                                  Heroicon name: outline/plus-small
              
                                                                                                                                                                                                                                                                                                                                                                                  Item expanded: "", Item collapsed: "hidden"
                                                                                                                                                                                                                                                                                                                                                                                -->
                    <svg
                      class="hidden h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v12m6-6H6"
                      />
                    </svg>
                  </span>
                </button>
              </dt>
              <dd class="mt-2 hidden pr-12" id="faq-7">
                <p class="text-base leading-7 text-gray-300/80">
                  For any issues or suggestions, you can reach out to us through
                  our "Contact" page or email us at support@wallet.com.
                </p>
              </dd>
            </div>

            <!-- More questions... -->
          </dl>
        </div>
      </div>
    </div>
  </div>

  <script>
    let tabs = document.querySelectorAll(".tab");
    tabs.forEach((tab) => {
      tab.addEventListener("click", function () {
        let target = this.getAttribute("data-tab");

        // Hide all tab contents
        document.querySelectorAll(".tab-content").forEach((tabContent) => {
          tabContent.classList.add("hidden");
        });

        // Show the clicked tab's content
        document
          .querySelector(`[data-content="${target}"]`)
          .classList.remove("hidden");
      });
    });
  </script>
</main>
<!-- Feature Section End -->
