@tailwind base;
@tailwind components;
@tailwind utilities;

.card-transform {
  transform-style: preserve-3d;
}

.card-face {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Firefox için */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari ve Opera için */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Internet Explorer ve Edge için */
input[type="number"]::-ms-clear {
  display: none;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply hidden;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-2 rounded-xl;
}

select {
  font-family: 'FontAwesome', 'Second Font name'
}
