@tailwind base;
@tailwind components;
@tailwind utilities;

.card-transform {
  transform-style: preserve-3d;
}

.card-face {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Firefox için */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari ve Opera için */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Internet Explorer ve Edge için */
input[type="number"]::-ms-clear {
  display: none;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply hidden;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-2 rounded-xl;
}

select {
  font-family: 'FontAwesome', 'Second Font name'
}


/* Ticket table */
#myTable tbody td:first-child {
  @apply bg-yellow-400 text-slate-700 font-semibold border-r-4 !border-primary-2;
}

#myTable tbody td:nth-child(2) {
  @apply text-center;
}

#myTable tbody td:nth-child(3) {
  text-align: right;
}

#myTable thead td:nth-child(2) {
    text-align:center !important;
}

#myTable thead td:nth-child(3) {
  @apply !text-right;
}

